<div class="row">
    <div class="col-xs-6">
        <table class="table table-bordered table-hover">
            <tr class="success">
                <th>Course Id</th>
                <th>Course Name</th>
                <th>Course Desc</th>
            </tr>
            <tr ng-repeat="course in courses">
                <td>{{course.courseId}}</td>
                <td>{{course.courseName}}</td>
                <td>{{course.courseDesc}}</td>
            </tr>
        </table>
    </div>
</div>