<div id="buttons" class="container">
	<button ng-click="goToDashboard()" class="btn btn-secondary">Course Dashboard</button>
    <button ng-click="checkStatus()" class="btn btn-secondary">Course Status </button>
    <button ng-click="registerCourse()" class="btn btn-secondary">Register Course </button>
</div>