<div class="container">
    <div class="row">
        <div class="col-xs-7 col-xs-offset-2">
            <div class="panel panel-primary">
                <div class="panel-heading text-center">
                    <h4>Enter student details</h4>
                </div>
                <div class="panel-body">
                    <form name="registrationForm" class="form-horizontal col-xs-8 col-xs-offset-2">
                        <div class="form-group">
                            <label for="studentName" class="control-label col-xs-5">Student Name:</label>
                            <div class="col-xs-7">
                                <input type="text" name="studentName" class="form-control" id="studentName" ng-model="studentName" placeholder="student name"
                                    required>
                                <p ng-show="registrationForm.studentName.$invalid && !registrationForm.studentName.$pristine" class="help-block">
                                    Student name is required.</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="address" class="control-label col-xs-5">Address:</label>
                            <div class="col-xs-7">
                                <input type="text" name="address" class="form-control" ng-model="address" id="address" placeholder="address" required>
                                <p ng-show="registrationForm.address.$invalid && !registrationForm.address.$pristine" class="help-block">
                                    Address is required.</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="address" class="control-label col-xs-5">Course:</label>
                            <div class="col-xs-7">
                                <select name="selectedCourse" id="selectedCourse" class="form-control" ng-model="selectedCourse" ng-options="course.courseName for course in courses"
                                    required>
                                </select>
                                <p ng-show="registrationForm.selectedCourse.$invalid && !registrationForm.selectedCourse.$pristine" class="help-block">
                                    Select a course.</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-offset-2 col-xs-7 pull-right">
                                <button ng-disabled="registrationForm.$invalid" ng-click="submit()" type="submit" class="btn btn-primary">Register</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>