<div class="row">
    <div class="col-xs-6">
        <table class="table table-bordered table-hover table-condensed">
            <tr class="success">
                <th>Student Id</th>
                <th>Student Name</th>
                <th>Course Name</th>
                <th>Course Status</th>
            </tr>
            <tr ng-repeat="student in students">
                <td>{{student.studentId}}</td>
                <td>{{student.studentName}}</td>
                <td>{{student.course.courseName}}</td>
                <td>{{student.status}}</td>
            </tr>
        </table>
    </div>
</div>